.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.absolute-m {
  position: absolute;
  width: 96%;
}

.multi-step > div:nth-child(2) {
  height: 30px;
}

.fade-step-enter {
  opacity: 0.01;
}

.fade-step-enter.fade-step-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-step-exit {
  opacity: 1;
}

.fade-step-exit.fade-step-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
